body{
     background: linear-gradient(135deg, #4c88ef 0%, #17e4d9 100%);
    height: 100%;
}

.enc{
    height: 30px;
    width: 60px;
    border-radius: 3px;
    border: none;
}
th{
    color: #fff;
}
select{
    height: 30px;
    width: 350px;
    border-radius: 3px;
    
}
#btn{
    color: #ffffff;
    background-color: #fc0606;
    border-color: #2e6da4;
    font-size: 16px;
    border: 1px solid #f0eeee;
    border-radius: 5px;
     margin-bottom: 20px;
    cursor: pointer;
    margin-top: 50px;
    height: 40px;
  
}
#bt{
    height: 36px;
    margin-right: 10px;
    width: 46px;
    color: #103b8d;
    background-color: #ffffff;
    box-shadow: inset 0 1px 13px rgba(0,0,0,.1);
    box-sizing: border-box;
    border: 1px solid #DDD;
    border-radius: 5px;
}