.form-basic{
    text-align: center;
    padding: 50px;
}
.form-basic .selt{
    width: 20px;
}

.form-basic .label .select .option{
    padding: 50px;
}

.form-basic label{
    padding-right:15px;
}
.form-basic input{
    padding: 8px;
    box-sizing: border-box;
}